Bottleneck==1.2.1
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
Cython==0.29.6
Flask==1.0.2
Keras==2.2.4
gunicorn==19.9.0
h5py==2.9.0
imageio==2.5.0
imagesize==1.1.0
importlib-metadata==0.0.0
imutils==0.5.2
jsonpickle==1.2
matplotlib==3.0.3
numpy==1.16.2
opencv-contrib-python==3.4.2.17
openpyxl==2.6.1
packaging==19.0
pandas==0.24.2
Pillow==5.4.1
requests==2.21.0
scikit-image==0.14.2
scikit-learn==0.20.3
scipy==1.2.1
unicodecsv==0.14.1
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1

